{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
    <form method="POST" action="/">
        {{ form.csrf_token }}
        <div>{{ form.item }}
            <input class="btn btn-default" type="submit" value="Add">
        </div>
    </form>
    <div class="container">
        {% for item in data %}
            <div class="row"}>
                <div class="col-md-2" id="task">{{ item.id }}</div>
                <div class="col-md-4">{{ item.task }}</div>
                <div class="col-md-2">"21/06/2017"</div>
                <div class="col-md-4">
                    <form method="POST" action="/delete/{{ item.id }}">
                        <input class="btn btn-danger" type="submit" name={{ item.id }} value="delete">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}